.fly-talks-section {
  margin-top: 542px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fly-talks-main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 445px;
  justify-content: center;
}

.fly-talks-section .title {
  font-family: "Fuse Display";
  font-size: 117px;
  line-height: 120px;
  display: inline;
}

.p-wrapper {
  max-width: 400px;
}

.fly-talks-main p {
  font-size: 16px;
  line-height: 24px;
}

.fly-talks-aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fly-talks-aside img {
  object-fit: cover;
}

#img1 {
  width: 411px;
  height: 304px;
  background-color: gray;
  justify-self: center;
  z-index: 2;
}

.images-2-and-3 {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
  align-items: center;
  position: relative;
  top: -72px;
}

#img2 {
  width: 304px;
  height: 400px;
  background-color: gray;
  z-index: 1;
  position: relative;
  top: -24px;
}

#img3 {
  width: 328px;
  height: 540px;
  background-color: gray;
  z-index: 3;
}

@media screen and (max-width: 1250px) {
  .fly-talks-section {
    flex-direction: column;
    align-items: center;
  }
  .fly-talks-section .title{
    font-size: 54px;
    line-height: 68px;
    margin-bottom: 0px;
  }
  .fly-talks-main{
    gap: 22px;
  }
  .fly-talks-aside {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .images-2-and-3 {
    top: 0;
    column-gap: 0px;
  }
  #img1 {
    width: 191px;
    height: 252px;
    position: relative;
    top: -85px;
    z-index: 1;
  }
  #img2 {
    width: 287px;
    height: 189px;
  }
  #img3 {
    width: 207px;
    height: 302px;
  }
}
@media screen and (max-width: 525px) {
  .fly-talks-section {
    margin-top: 198px;
  }
  .fly-talks-aside {
    width: 100%;
    margin-top: 27px;
  }
  .images-2-and-3 {
    flex-direction: column;
  }
  #img1 {
    width: 191px;
    height: 252px;
    position: relative;
    top: -269px;
    z-index: 1;
    left: -58px;
  }
  #img2 {
    width: 287px;
    height: 189px;
    position: relative;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    left: -79px;
    top: 45px;
  }
  #img3 {
    top: -193px;
    position: relative;
    right: -116px;
  }
}
