:root {
  /* MONO */
  --bg: #000;
  --dark-grey: #54545f;
  --grey: #8a8a99;
  --light-grey: #e9e9ec;
  --fg: #f5f5f7;
  --white-20: #f5f5f733;
  --white-5: #f5f5f70d;

  /* GRADIENTS */
  --gradient-1: linear-gradient(89.12deg, #37f3e1 -40.27%, #a109ff 101.93%);
  --gradient-2: linear-gradient(
    44.61deg,
    #00b5c1 9.43%,
    #4336b9 41.88%,
    #fa4343 106.56%
  );
  --gradient-3: linear-gradient(
    58.11deg,
    #0022c1 26.81%,
    #7b47b2 57.59%,
    #ed6aa5 82.34%
  );
  --gradient-4: linear-gradient(
    124.93deg,
    #0d8fd3 5.44%,
    #0b60bb 17.95%,
    #0a3aa7 36.44%,
    #6a387d 69.53%,
    #c53754 105.59%,
    #fa5240 117.57%
  );
  --gradient-5: linear-gradient(180deg, #0066ff 24.48%, #ff0000 100%);
  --gradient-6: linear-gradient(
    180deg,
    #0066ff 24.48%,
    rgba(0, 209, 255, 0.81) 100%
  );
  --gradient-7: linear-gradient(
    156.23deg,
    #0d8fd3 -0.74%,
    #0b60bb 11.13%,
    #0a3aa7 28.67%,
    #6a387d 60.05%,
    #c53754 94.26%,
    #fa5240 105.63%,
    #fcdda3 127.15%
  );
  --gradient-8: linear-gradient(
    123.15deg,
    rgba(13, 143, 211, 0.68) -3.37%,
    rgba(10, 58, 167, 0.68) 17.75%,
    rgba(197, 55, 84, 0.68) 53.11%,
    rgba(250, 82, 64, 0.68) 70.34%,
    rgba(252, 221, 163, 0.68) 103.4%
  );

  /*STATISTICS GRADIENTS*/
  --stat-grad-1: conic-gradient(
    from 90deg at 73.72% 50%,
    #c75593 -157.26deg,
    #6a4293 89.27deg,
    #c75593 202.74deg,
    #6a4293 449.27deg
  );

  --stat-grad-2: conic-gradient(
    from 117.55deg at 29.17% 50%,
    #694696 -23.56deg,
    #2361a6 107.58deg,
    #c75593 232.77deg,
    #694696 336.44deg,
    #2361a6 467.58deg
  );

  --stat-grad-3: conic-gradient(
    from 117.55deg at 29.17% 50%,
    #694696 -40.41deg,
    #2361a6 38.26deg,
    #694696 319.59deg,
    #2361a6 398.26deg
  );

  --stat-grad-4: conic-gradient(
    from 103.77deg at -7.1% 67.63%,
    #c75593 -1.87deg,
    #2361a6 281.68deg,
    #694696 332.49deg,
    #c75593 358.13deg,
    #2361a6 641.68deg
  );

  --stat-grad-5: conic-gradient(
    from 80.16deg at 53.24% 50%,
    #694696 -47.23deg,
    #804b73 97.91deg,
    #ab415c 150.01deg,
    #c35493 216.76deg,
    #694696 312.77deg,
    #804b73 457.91deg
  );

  --stat-grad-6: conic-gradient(
    from 70.42deg at 62.39% 60.9%,
    #694696 -38.75deg,
    #c88f6f 117.45deg,
    #ab415c 221.55deg,
    #804b73 291.42deg,
    #694696 321.25deg,
    #c88f6f 477.45deg
  );
}
