.gradient-button {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.08em;
  color: white;
  padding: 14px 23.5px;
  border: none;
  outline: none;
  position: relative;
  background: var(--gradient-4);
  cursor: pointer;
  z-index: 1;
}

.gradient-button::before {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-color: black;
  z-index: -1;
  transition: 200ms ease-in-out;
}

.gradient-button::after {
  color: white;
  content: attr(data);
  font-size: 16px;
  font-family: "Fuse Display";
  transition: 200ms ease-in-out;
}

.gradient-button:hover::before {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: white;
}

.gradient-button:hover::after {
  color: black;
}

.gradient-text {
  display: inline-block;
  font-family: "Fuse Display";
  font-size: 122px;
  line-height: 120px;
  background-size: 100%;
  background: var(--gradient-4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
