@import url("./typefaces.css");
@import url("./color.css");
@import url("./gradient.css");
@import url("./sections/hero.css");
@import url("./sections/posao.css");
@import url("./sections/fly-talks.css");
@import url("./sections/schedule.css");
@import url("./sections/app.css");
@import url("./sections/sponsors.css");
@import url("./sections/faq.css");
@import url("./sections/fesb.css");
@import url("./sections/digitalni-inovatori.css");
@import url("./sections/luka-abrus.css");
@import url("./sections/faq.css");
@import url("./sections/online.css");
@import url("./sections/footer.css");

/* CSS reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/
body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Fuse";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}

h2 {
  font-weight: 800;
  line-height: 120px;
  letter-spacing: -2%;
  color: var(--white);
  font-size: 122px;
  font-family: "Fuse Display";
}
h4 {
  font-size: 54px;
  font-family: "Fuse Display";
}
main {
  max-width: 1232px;
  margin: 0 auto;
  /* padding: 22px; dodat u mobile layout a ne ovdi*/
}
